<div id="wrapper">
  <div class="overlay"></div>
  <!-- Sidebar -->
  <nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
          <a href="#">图书频道</a>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> 文学 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#/book/search/1?tag=小说">小说</a>
          <li><a href="#/book/search/1?tag=文学">文学</a></li>
          <li><a href="#/book/search/1?tag=中国文学">中国文学</a></li>
          <li><a href="#/book/search/1?tag=外国文学">外国文学</a></li>
          <li><a href="#/book/search/1?tag=随笔">随笔</a></li>
          <li><a href="#/book/search/1?tag=散文">散文</a></li>
          <li><a href="#/book/search/1?tag=童话">童话</a></li>
          <li><a href="#/book/search/1?tag=诗歌">诗歌</a></li>
          <li><a href="#/book/search/1?tag=小说">杂文</a></li>
          <li><a href="#/book/search/1?tag=小说">杂文</a></li>
          <li><a href="#/book/search/1?tag=名著">名著</a></li>
          <li><a href="#/book/search/1?tag=古典文学">古典文学</a></li>
          <li><a href="#/book/search/1?tag=当代文学">当代文学</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> 流行 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#/book/search/1?tag=漫画">漫画</a></li>
          <li><a href="#/book/search/1?tag=推理">推理</a></li>
          <li><a href="#/book/search/1?tag=绘本">绘本</a></li>
          <li><a href="#/book/search/1?tag=青春">青春</a></li>
          <li><a href="#/book/search/1?tag=科幻">科幻</a></li>
          <li><a href="#/book/search/1?tag=言情">言情</a></li>
          <li><a href="#/book/search/1?tag=悬疑">悬疑</a></li>
          <li><a href="#/book/search/1?tag=武侠">武侠</a></li>
          <li><a href="#/book/search/1?tag=奇幻">奇幻</a></li>
          <li><a href="#/book/search/1?tag=耽美">耽美</a></li>
          <li><a href="#/book/search/1?tag=轻小说">轻小说</a></li>
          <li><a href="#/book/search/1?tag=魔幻">魔幻</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> 文化 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#/book/search/1?tag=历史">历史</a></li>
          <li><a href="#/book/search/1?tag=社会">社会</a></li>
          <li><a href="#/book/search/1?tag=哲学">哲学</a></li>
          <li><a href="#/book/search/1?tag=传记">传记</a></li>
          <li><a href="#/book/search/1?tag=电影">电影</a></li>
          <li><a href="#/book/search/1?tag=人文">人文</a></li>
          <li><a href="#/book/search/1?tag=艺术">艺术</a></li>
          <li><a href="#/book/search/1?tag=设计">设计</a></li>
          <li><a href="#/book/search/1?tag=思想">思想</a></li>
          <li><a href="#/book/search/1?tag=近代史">近代史</a></li>
          <li><a href="#/book/search/1?tag=中国历史">中国历史</a></li>
          <li><a href="#/book/search/1?tag=军事">军事</a></li>
          <li><a href="#/book/search/1?tag=国学">国学</a></li>
          <li><a href="#/book/search/1?tag=音乐">音乐</a></li>
          <li><a href="#/book/search/1?tag=宗教">宗教</a></li>
          <li><a href="#/book/search/1?tag=考古">考古</a></li>
          <li><a href="#/book/search/1?tag=戏剧">戏剧</a></li>
          <li><a href="#/book/search/1?tag=建筑">建筑</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> 生活 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#/book/search/1?tag=爱情">爱情</a></li>
          <li><a href="#/book/search/1?tag=励志">励志</a></li>
          <li><a href="#/book/search/1?tag=旅行">旅行</a></li>
          <li><a href="#/book/search/1?tag=职场">职场</a></li>
          <li><a href="#/book/search/1?tag=心理">心理</a></li>
          <li><a href="#/book/search/1?tag=旅行">旅行</a></li>
          <li><a href="#/book/search/1?tag=美食">美食</a></li>
          <li><a href="#/book/search/1?tag=健康">健康</a></li>
          <li><a href="#/book/search/1?tag=养生">养生</a></li>
          <li><a href="#/book/search/1?tag=两性">两性</a></li>
          <li><a href="#/book/search/1?tag=摄影">摄影</a></li>
          <li><a href="#/book/search/1?tag=教育">教育</a></li>
          <li><a href="#/book/search/1?tag=情感">情感</a></li>
          <li><a href="#/book/search/1?tag=人际关系">人际关系</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> 科技 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#/book/search/1?tag=科普">科普</a></li>
          <li><a href="#/book/search/1?tag=互联网">互联网</a></li>
          <li><a href="#/book/search/1?tag=编程">编程</a></li>
          <li><a href="#/book/search/1?tag=交互设计">交互设计</a></li>
          <li><a href="#/book/search/1?tag=科技">科技</a></li>
          <li><a href="#/book/search/1?tag=用户体验">用户体验</a></li>
          <li><a href="#/book/search/1?tag=算法">算法</a></li>
          <li><a href="#/book/search/1?tag=通信">通信</a></li>
          <li><a href="#/book/search/1?tag=程序">程序</a></li>
          <li><a href="#/book/search/1?tag=科学">科学</a></li>
          <li><a href="#/book/search/1?tag=web">web</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> 经管 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#/book/search/1?tag=经济学">经济学</a></li>
          <li><a href="#/book/search/1?tag=金融">金融</a></li>
          <li><a href="#/book/search/1?tag=理财">理财</a></li>
          <li><a href="#/book/search/1?tag=策划">策划</a></li>
          <li><a href="#/book/search/1?tag=管理">管理</a></li>
          <li><a href="#/book/search/1?tag=投资">投资</a></li>
          <li><a href="#/book/search/1?tag=经济">经济</a></li>
          <li><a href="#/book/search/1?tag=营销">营销</a></li>
          <li><a href="#/book/search/1?tag=股票">股票</a></li>
          <li><a href="#/book/search/1?tag=商业">商业</a></li>
          <li><a href="#/book/search/1?tag=创业">创业</a></li>
          <li><a href="#/book/search/1?tag=广告">广告</a></li>
          <li><a href="#/book/search/1?tag=企业史">企业史</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="col-lg-9 col-md-9 col-sm-8">
            <h2 class="page-header">{{title}}</h2>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3">
            <form class="navbar-form booksearch" ng-controller="SearchController" ng-submit="search()">
              <input type="text" class="form-control" placeholder="Search..." ng-model="input">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="list-group">
            <a href="#/book/{{item.id}}" ng-repeat="item in books" class="list-group-item">
              <span class="badge">{{item.rating.average}}</span>
              <div class="media">
                <div class="media-left">
                  <img ng-src="{{item.images.medium}}" alt="{{item.alt}}" class="media-object" height="128">
                </div>
                <div class="media-body">
                  <h3 class="media-heading">{{item.title}}</h3>
                  <p>
                    作者：{{item.author.join('、')}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span ng-show="item.translator.length">翻译：{{item.translator.join('、')}}</span>
                  </p>
                  <p>
                    出版社：{{item.publisher}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{item.pubdate}}
                  </p>
                  <p class="book_intro">{{item.summary}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div ng-hide="loading">
            <p>总共：{{totalCount}}条记录，第{{currentPage}}/{{totalPages}}页</p>

            <nav class="row">
              <div class="col-sm-5 col-xs-10">
                <ul class="pagination booklist_pagination pull-right"></ul>
              </div>
              <div class="col-sm-5 col-xs-10">
                <div class="col-sm-4 col-xs-6">
                  <form ng-submit="go(page)">
                    <span class="topagebox">
                    到第<input type="text" class="button" ng-model="page">页
                    </span>
                  </form>
                </div>
                <div class="col-sm-1 col-xs-4">
                  <button class="btn btn-default go" ng-click="go(page)">GO</button>
                </div>
              </div>
            </nav>
          </div>
        </div>          
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>


<!-- 加载中 -->
<div class="mask" ng-show="loading">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
